<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Stock Availability</ion-title>
  </ion-toolbar>
</ion-header>

<div class="loading-shade" *ngIf="dataSource.loading$ | async">
  <mat-progress-bar
    *ngIf="dataSource.loading$ | async"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<ion-content color="light">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-text color="primary"> Stock Availability </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <form [formGroup]="stockAvailabilityForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Item Name </mat-label>
                <input
                  matInput
                  placeholder="Item Name"
                  [matAutocomplete]="item_name"
                  formControlName="item_name"
                  (focusout)="validateInput(f.item_name, filteredItemNameList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #item_name="matAutocomplete"
                  [displayWith]="getItemName"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredItemNameList | async"
                    [value]="option"
                  >
                    {{ option.item_name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.item_name.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.item_name.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Warehouse </mat-label>
                <input
                  matInput
                  placeholder="Warehouse"
                  [matAutocomplete]="warehouse"
                  formControlName="warehouse"
                  (focusout)="validateInput(f.warehouse, filteredWarehouseList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #warehouse="matAutocomplete"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredWarehouseList | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.warehouse.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.warehouse.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Item Group </mat-label>
                <input
                  matInput
                  placeholder="Item Group"
                  [matAutocomplete]="item_group"
                  formControlName="item_group"
                  (focusout)="validateInput(f.item_group, filteredItemGroupList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #item_group="matAutocomplete"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredItemGroupList | async"
                    [value]="option.item_group_name"
                  >
                    {{ option.item_group_name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.item_group.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.item_group.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Brand </mat-label>
                <input
                  matInput
                  placeholder="Brand"
                  [matAutocomplete]="item_brand"
                  formControlName="item_brand"
                  (focusout)="validateInput(f.item_brand, filteredItemBrandList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #item_brand="matAutocomplete"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredItemBrandList | async"
                    [value]="option.brand"
                  >
                    {{ option.brand }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.item_brand.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.item_brand.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>

              <mat-checkbox (change)="setFilter()" formControlName="zero_stock">
                Show Zero Stock
              </mat-checkbox>

              <ion-button (click)="setFilter()">
                <ion-icon slot="icon-only" name="refresh"></ion-icon>
              </ion-button>

              <ion-button
                color="tertiary"
                (click)="clearFilters()"
                fill="outline"
              >
                Clear
              </ion-button>

              <ion-button
                color="tertiary"
                [disabled]="!dataSource.length"
                (click)="downloadServiceInvoices()"
                fill="outline"
              >
                Download CSV
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <div class="example-container mat-elevation-z8">
        <table mat-table class="full-width" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
            <mat-cell *matCellDef="let row;let i=index ">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_name">
            <mat-header-cell *matHeaderCellDef> Item name </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.item_name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_code">
            <mat-header-cell *matHeaderCellDef> Item code </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.item_code }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_group">
            <mat-header-cell *matHeaderCellDef> Item group </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.item.item_group }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="item_brand">
            <mat-header-cell *matHeaderCellDef> Item brand </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.item.brand }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="warehouse">
            <mat-header-cell *matHeaderCellDef> Warehouse </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.warehouse }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actual_qty">
            <mat-header-cell *matHeaderCellDef>
              Actual quantity
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.stock_availability }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true">
          </mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
        </table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500, 1000]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
