<ion-card class="ion-no-margin">
  <ion-card-header>
    <ion-card-title> Update Credit Limit </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="creditLimitForm">
      <mat-form-field floatLabel="auto" class="full-width">
        <mat-label> Customer </mat-label>
        <input
          matInput
          readonly
          placeholder="Customer"
          formControlName="customer"
        />
      </mat-form-field>

      <mat-form-field
        floatLabel="auto"
        class="full-width"
        (click)="toggleBaseLimit()"
      >
        <mat-label> Base Limit </mat-label>
        <input
          matInput
          type="number"
          placeholder="Base Limit"
          formControlName="baseLimit"
        />
      </mat-form-field>

      <mat-form-field
        floatLabel="auto"
        class="full-width"
        (click)="toggleERPNextLimit()"
      >
        <mat-label> Extended ERPNext Credit Limit </mat-label>
        <input
          matInput
          type="number"
          required
          placeholder="Extended ERPNext Credit Limit"
          formControlName="erpnextLimit"
        />
      </mat-form-field>

      <mat-form-field
        floatLabel="auto"
        class="full-width"
        (click)="toggleExpiryDate()"
      >
        <mat-label> Expiry Date </mat-label>
        <input
          matInput
          readonly
          [matDatepicker]="expiryDate"
          required
          placeholder="Expiry Date"
          formControlName="expiryDate"
        />
        <mat-datepicker-toggle matSuffix [for]="expiryDate">
        </mat-datepicker-toggle>
        <mat-datepicker #expiryDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </form>
  </ion-card-content>

  <div class="actions ion-padding">
    <button mat-button type="button" color="primary" (click)="onUpdate()">
      Update
    </button>

    <button mat-button type="button" color="light" (click)="onCancel()">
      Cancel
    </button>
  </div>
</ion-card>
