/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.sc-ion-card-md-h {
  background: white;
}

.page-background {
  --background: var(--ion-color-light);
  padding: 0;
  height: 100%;
}

.align {
  align-items: center;
  vertical-align: middle;
}

.name {
  font-size: 1.4rem;
  text-transform: capitalize;
}

.avatar {
  margin-left: 20%;
  width: 60%;
  height: 60%;
}

.header-row {
  font-weight: bold;
}

.split-pane-visible > .split-pane-side {
  min-width: 260px !important;
  max-width: 260px !important;
}

.mat-row:hover {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mat-tooltip.tooltip {
  font-size: 1.2rem;
}

.disable-scrollbars::-webkit-scrollbar {
  display: none;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.active {
  background-color: white;
  color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-primary) !important;
  }
  --color-hover: var(--ion-color-primary) !important;
}

.mat-header-cell.text-center {
  text-align: center;
}

.cancel {
  color: var(--ion-color-danger) !important;
}

.example-container {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row,
  .mat-footer-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
  }

  [class*='mat-column-'] {
    flex: 0 0 9% !important;
    min-width: 150px !important;
  }

  .mat-column-sr_no {
    flex: 0 0 5% !important;
    min-width: 60px !important;
  }
}

.full-width {
  width: 100% !important;
}

.mat-form-field {
  color: black;
}
