<h2 mat-dialog-title>Alert</h2>
<div mat-dialog-content>{{ message }}</div>
<div mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="warn" [mat-dialog-close]="true">
    Confirm
  </button>
</div>
