<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Serial Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="tertiary"> {{serialNo}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <form [formGroup]="serialInfoForm">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input
                  label="Serial Number"
                  labelPlacement="floating"
                  placeholder="Serial Number"
                  type="string"
                  formControlName="serial_no"
                  (keyup.enter)="fetchSerialData(this.f.serial_no.value)"
                >
                </ion-input>

                <ion-buttons style="margin: auto" slot="end">
                  <ion-button (click)="fetchSerialData(this.f.serial_no.value)">
                    <ion-icon name="search-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>

              <ion-item lines="none">
                <ion-input
                  label="Item Name"
                  labelPlacement="floating"
                  placeholder="Item Name"
                  readonly="true"
                  type="string"
                  formControlName="item_name"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-input
                  label="Item Code"
                  labelPlacement="floating"
                  placeholder="Item Code"
                  readonly="true"
                  type="string"
                  formControlName="item_code"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-input
                  label="Warehouse"
                  labelPlacement="floating"
                  placeholder="Warehouse"
                  readonly="true"
                  type="string"
                  formControlName="warehouse"
                >
                </ion-input>
              </ion-item>
            </ion-col>

            <ion-col>
              <ion-item lines="none" (click)="viewSupplier()">
                <ion-input
                  label="Supplier"
                  labelPlacement="floating"
                  placeholder="Supplier"
                  readonly="true"
                  type="string"
                  formControlName="supplier"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none" (click)="viewPurchaseReceipt()">
                <ion-input
                  label="Purchase Receipt"
                  labelPlacement="floating"
                  placeholder="Purchase Receipt"
                  readonly="true"
                  type="string"
                  formControlName="purchase_document_no"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none" (click)="viewCustomer()">
                <ion-input
                  label="Customer"
                  labelPlacement="floating"
                  placeholder="Customer"
                  readonly="true"
                  type="string"
                  formControlName="customer"
                >
                </ion-input>
              </ion-item>

              <ion-item lines="none">
                <ion-input
                  label="Delivery Note"
                  labelPlacement="floating"
                  placeholder="Delivery Note"
                  readonly="true"
                  type="string"
                  formControlName="delivery_note"
                >
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-card-title color="tertiary">Serial History</ion-card-title>
          </ion-card-title>
        </ion-col>

        <ion-col class="ion-text-right">
          <ion-button
            class="ion-text-right"
            color="tertiary"
            (click)="getSerialHistory()"
          >
            Get History
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <table
      mat-table
      style="width: 100%; overflow: auto"
      [dataSource]="serialHistoryDataSource"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="eventType">
        <th mat-header-cell *matHeaderCellDef>Event Type</th>
        <td mat-cell *matCellDef="let element">{{element.eventType}}</td>
      </ng-container>

      <ng-container matColumnDef="document_no">
        <th mat-header-cell *matHeaderCellDef>Doc No</th>
        <td mat-cell *matCellDef="let element">
          {{element.readable_document_no || element.document_no}}
        </td>
      </ng-container>

      <ng-container matColumnDef="transaction_from">
        <th mat-header-cell *matHeaderCellDef>Transaction From</th>
        <td mat-cell *matCellDef="let element">{{element.transaction_from}}</td>
      </ng-container>

      <ng-container matColumnDef="transaction_to">
        <th mat-header-cell *matHeaderCellDef>Transaction To</th>
        <td mat-cell *matCellDef="let element">{{element.transaction_to}}</td>
      </ng-container>

      <ng-container matColumnDef="document_type">
        <th mat-header-cell *matHeaderCellDef>Document Type</th>
        <td mat-cell *matCellDef="let element">{{element.document_type}}</td>
      </ng-container>

      <ng-container matColumnDef="parent_document">
        <th mat-header-cell *matHeaderCellDef>Parent Doc</th>
        <td mat-cell *matCellDef="let element">
          {{element.naming_series || element.parent_document}}
        </td>
      </ng-container>

      <ng-container matColumnDef="created_on">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let element">
          {{element.created_on | date:'dd-MM-yyyy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="created_by">
        <th mat-header-cell *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let element">{{element.created_by}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let i = index"
      ></tr>
    </table>
  </ion-card>
</ion-content>
