.custom-container {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
  .mat-row,
  .mat-header-row,
  .mat-footer-row {
    display: table-row;
  }
  .mat-cell,
  .mat-header-cell,
  .mat-footer-cell {
    word-wrap: initial;
    display: table-cell;
    line-break: unset;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
  }

  [class*='mat-column-'] {
    min-width: 150px !important;
  }

  .mat-column-sr_no,
  .mat-column-delete {
    flex: 0 0 5% !important;
    min-width: 60px !important;
  }
}
