<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title> Excel Technologies </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-grid *ngIf="loggedIn" class="no-padding">
          <ion-row class="align">
            <ion-col *ngIf="imageURL">
              <ion-avatar class="avatar">
                <img src="{{ imageURL }}" />
              </ion-avatar>
            </ion-col>

            <ion-col *ngIf="!imageURL">
              <ion-avatar class="avatar">
                <img src="../assets/alternative.svg" />
              </ion-avatar>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-center">
              <ion-text class="name">
                {{ name }}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              routerDirection="'root'"
              *ngIf="!loggedIn"
              routerLink="/"
              (click)="login()"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="log-in-outline"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              routerDirection="'root'"
              *ngIf="loggedIn"
              routerLink="/home"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="home-outline"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              [routerLink]="['/warranty/add-warranty-claim']"
              lines="none"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon slot="start" name="add-outline"></ion-icon>
              <ion-label>Add Warranty Claim</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/warranty"
              lines="none"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <ion-icon slot="start" name="repeat-outline"></ion-icon>
              <ion-label>Warranty Claims List</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/service-invoice"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="receipt-outline"></ion-icon>
              <ion-label>Service Invoice</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/balance-summary"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="trending-up-outline"></ion-icon>
              <ion-label>Stock Balance Summary</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              routerLink="/serial-search"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="barcode-outline"></ion-icon>
              <ion-label>Serial Search</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              *ngIf="loggedIn"
              (click)="openSalesPortal()"
              lines="none"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="desktop-outline"></ion-icon>
              <ion-label>Sales Portal</ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item
            button
            routerDirection="'root'"
            routerLink="/"
            *ngIf="loggedIn"
            (click)="logout()"
            class="clickable"
            lines="none"
          >
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
