<ion-card-header>
  <ion-card-title>
    <ion-text color="tertiary"> Credit Note Items </ion-text>
  </ion-card-title>
</ion-card-header>

<ion-card-content class="ion-no-padding">
  <table mat-table [dataSource]="itemDataSource" class="full-width">
    <ng-container matColumnDef="item_name">
      <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.item_name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rate">
      <mat-header-cell *matHeaderCellDef>Item Rate</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.rate }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="qty">
      <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{ row.qty }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="credit_note_qty">
      <mat-header-cell *matHeaderCellDef>Return Quantity</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <input matInput [(ngModel)]="row.credit_note_qty" type="number" />
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="itemDisplayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: itemDisplayedColumns"></mat-row>
  </table>
</ion-card-content>

<div mat-dialog-actions>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="data.items"
    cdkFocusInitial
  >
    Submit
  </button>
</div>
