<form style="height: 100%">
  <div
    class="mat-subheading-2 ion-text-capitalize"
    *ngIf="passedFrom === 'add'"
  >
    Add Problem
  </div>
  <div
    class="mat-subheading-2 ion-text-capitalize"
    *ngIf="passedFrom === 'update'"
  >
    Update Problem
  </div>

  <mat-form-field floatLabel="auto">
    <mat-label> Problem </mat-label>
    <textarea
      matInput
      required
      placeholder="Problem"
      [formControl]="problemFormControl"
    ></textarea>
    <mat-error *ngIf="problemFormControl.errors"> Required! </mat-error>
  </mat-form-field>

  <div class="actions">
    <button mat-button type="button" color="primary" (click)="onCancel()">
      CANCEL
    </button>
    <button
      mat-button
      (click)="addProblem()"
      color="primary"
      [disabled]="disableAction"
      *ngIf="passedFrom === 'add'"
    >
      ADD
    </button>
    <button
      mat-button
      (click)="updateProblem()"
      color="primary"
      *ngIf="passedFrom === 'update'"
      [disabled]="disableAction"
    >
      UPDATE
    </button>
  </div>
</form>
