<ion-header>
  <ion-toolbar>
    <ion-title>Sales Return</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <form [formGroup]="salesReturnForm">
      <ion-card-content class="table-container ion-no-padding">
        <div class="loading-shade" *ngIf="dataSource.loading$ | async">
          <mat-progress-bar
            *ngIf="dataSource.loading$ | async"
            mode="indeterminate"
          ></mat-progress-bar>
        </div>

        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Invoice Number </mat-label>
                <input
                  matInput
                  placeholder="Invoice Number"
                  formControlName="name"
                  (keyup.enter)="setFilter()"
                />
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Customer </mat-label>
                <input
                  matInput
                  placeholder="Customer"
                  [matAutocomplete]="Customer"
                  formControlName="customer"
                  (focusout)="validateInput(f.customer, filteredCustomerList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #Customer="matAutocomplete"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredCustomerList | async"
                    [value]="option.customer_name"
                  >
                    {{ option.customer_name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.customer.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.customer.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label>Status</mat-label>
                <mat-select
                  formControlName="status"
                  (selectionChange)="setFilter()"
                >
                  <mat-option>--</mat-option>
                  <mat-option
                    *ngFor="let status of statusList"
                    [value]="status"
                  >
                    {{ status }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field
                floatLabel="auto"
                appearance="fill"
                class="full-width"
              >
                <mat-label> Enter a date range </mat-label>
                <mat-date-range-input
                  [formGroup]="salesReturnForm"
                  [rangePicker]="picker"
                >
                  <input
                    matStartDate
                    formControlName="start_date"
                    placeholder="Start date"
                  />
                  <input
                    matEndDate
                    formControlName="end_date"
                    placeholder="End date"
                    (dateChange)="setFilter()"
                  />
                </mat-date-range-input>
                <mat-hint> MM/DD/YYYY – MM/DD/YYYY </mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-date-range-picker #picker> </mat-date-range-picker>
                <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                  Invalid start date
                </mat-error>
                <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                  Invalid end date
                </mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-end">
              <ion-button (click)="clearFilters()" fill="outline">
                Clear
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="example-container mat-elevation-z8">
          <table mat-table class="full-width" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> DN name </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <a [routerLink]="['/sales-return/details',row.name]">
                  {{ row.name }}
                </a>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="posting_date">
              <mat-header-cell *matHeaderCellDef>
                Posting Date
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.posting_date | date: 'd MMM, y' }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.title }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ 0 - row.total | curFormat | async }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                {{ 0 - total | curFormat | async }}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                [ngStyle]="{color: row.docstatus === 1 ? 'red' : 'brown'}"
              >
                {{ row.docstatus === 1 ? 'Returned' : 'Canceled' }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.instructions }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="owner">
              <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.owner }} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="modified_by">
              <mat-header-cell *matHeaderCellDef> Modified By </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.modified_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row
              class="footer"
              *matFooterRowDef="displayedColumns; sticky: true"
            ></mat-footer-row>
          </table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </form>
  </ion-card>
</ion-content>
