<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Service Invoice </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <form [formGroup]="serviceForm">
    <ion-card>
      <ion-card-header style="padding-bottom: 0">
        <ion-row class="align">
          <ion-col>
            <ion-card-title>
              <ion-text color="tertiary"> Service Invoices </ion-text>
            </ion-card-title>
          </ion-col>
        </ion-row>
      </ion-card-header>

      <div class="loading-shade" *ngIf="dataSource.loading$ | async">
        <mat-progress-bar
          *ngIf="dataSource.loading$ | async"
          mode="indeterminate"
        ></mat-progress-bar>
      </div>

      <ion-card-content class="ion-no-padding">
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Customer </mat-label>
                <input
                  matInput
                  placeholder="Customer"
                  [matAutocomplete]="customer"
                  formControlName="customer_name"
                  (focusout)="validateInput(f.customer_name, filteredCustomerList)"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #customer="matAutocomplete"
                  [displayWith]="getCustomerOption"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredCustomerList | async"
                    [value]="option"
                  >
                    {{ option.customer_name }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.customer_name.hasError('falseValse')">
                  You should select a value from dropdown only.
                  <strong>'{{f.customer_name.value}}'</strong> is not allowed.
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Invoice No </mat-label>
                <input
                  matInput
                  formControlName="invoice_no"
                  placeholder="Invoice No"
                  (keyup.enter)="setFilter()"
                />
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Claim No </mat-label>
                <input
                  matInput
                  formControlName="claim_no"
                  placeholder="Claim No"
                  (keyup.enter)="setFilter()"
                />
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Territory </mat-label>
                <input
                  matInput
                  placeholder="Territory"
                  [matAutocomplete]="territory"
                  formControlName="territory"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #territory="matAutocomplete"
                  (optionSelected)="setFilter()"
                >
                  <mat-option
                    *ngFor="let option of filteredTerritoryList | async"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Submitted By </mat-label>
                <input
                  matInput
                  formControlName="submitted_by"
                  placeholder="Submitted By"
                  (keyup.enter)="setFilter()"
                />
              </mat-form-field>
            </ion-col>
            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label> Created By </mat-label>
                <input
                  matInput
                  formControlName="created_by"
                  placeholder="Created By"
                  (keyup.enter)="setFilter()"
                />
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field
                floatLabel="auto"
                appearance="fill"
                class="full-width"
              >
                <mat-label> Enter a date range </mat-label>
                <mat-date-range-input
                  [formGroup]="serviceForm"
                  [rangePicker]="picker"
                >
                  <input
                    matStartDate
                    formControlName="start_date"
                    placeholder="Start date"
                  />
                  <input
                    matEndDate
                    formControlName="end_date"
                    placeholder="End date"
                    (dateChange)="setFilter()"
                  />
                </mat-date-range-input>
                <mat-hint> MM/DD/YYYY – MM/DD/YYYY </mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker">
                </mat-datepicker-toggle>
                <mat-date-range-picker #picker> </mat-date-range-picker>
                <mat-error *ngIf="f.start_date.hasError('matStartDateInvalid')">
                  Invalid start date
                </mat-error>
                <mat-error *ngIf="f.end_date.hasError('matEndDateInvalid')">
                  Invalid end date
                </mat-error>
              </mat-form-field>
            </ion-col>

            <ion-col>
              <mat-form-field floatLabel="auto" class="full-width">
                <mat-label>Status</mat-label>
                <mat-select
                  formControlName="status"
                  (selectionChange)="statusChange($event.value)"
                >
                  <mat-option
                    *ngFor="let status of statusList"
                    [value]="status"
                  >
                    {{status}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-right">
              <ion-button
                color="tertiary"
                (click)="clearFilters()"
                fill="outline"
              >
                Clear
              </ion-button>

              <ion-button
                color="tertiary"
                [disabled]="!dataSource.length"
                (click)="downloadServiceInvoices()"
                fill="outline"
              >
                Download CSV
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="example-container mat-elevation-z8">
          <mat-table #table [dataSource]="dataSource">
            <ng-container matColumnDef="sr_no">
              <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
              <mat-cell *matCellDef="let row;let i=index ">
                {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="invoice_no">
              <mat-header-cell *matHeaderCellDef> Invoice No </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                (click)="openERPServiceInvoice(row)"
              >
                <ng-container *ngIf="row.invoice_no">
                  {{ row.invoice_no }}
                </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container> {{ row.status }} </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="date">
              <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container> {{ row.posting_date }} </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="customer_third_party">
              <mat-header-cell *matHeaderCellDef>
                Customer / Third Party
              </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <ng-container> {{ row.customer_third_party }} </ng-container>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef class="right-aligned">
                Total
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="invoice_amount">
              <mat-header-cell *matHeaderCellDef class="center-align">
                Invoice Amount
              </mat-header-cell>
              <mat-cell
                *matCellDef="let row"
                class="right-aligned right-padding"
              >
                <ng-container>
                  {{ row.total | curFormat | async }}
                </ng-container>
              </mat-cell>
              <mat-footer-cell
                *matFooterCellDef
                class="right-aligned right-padding"
              >
                {{ total | curFormat | async}}
              </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="claim_no">
              <mat-header-cell *matHeaderCellDef> Claim No </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.claim_no }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="remarks">
              <mat-header-cell *matHeaderCellDef> Remarks </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.remarks }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="branch">
              <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.branch }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="created_by">
              <mat-header-cell *matHeaderCellDef> Created by </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.created_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="submitted_by">
              <mat-header-cell *matHeaderCellDef>
                Submitted by
              </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{ row.created_by }} </mat-cell>
              <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="submit">
              <mat-header-cell *matHeaderCellDef> Submit </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index">
                <ion-text
                  [ngStyle]="{
                  color: row.docstatus === 1 ? '#4d2500' : 'red'
                }"
                >
                  {{ row.docstatus === 0 ? 'Not Submitted' : row.docstatus === 1
                  ? 'Submitted' : 'Canceled' }}
                </ion-text>
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns; sticky: true"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row
              class="footer"
              *matFooterRowDef="displayedColumns; sticky: true"
            ></mat-footer-row>
          </mat-table>
        </div>
        <mat-card-actions>
          <mat-paginator
            #paginator
            class="mat-paginator-sticky"
            (page)="getUpdate($event)"
            [length]="dataSource.length"
            [pageSizeOptions]="[30, 50, 100, 500]"
          >
          </mat-paginator>
        </mat-card-actions>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
