<div mat-dialog-content>{{ message }}</div>
<div mat-dialog-actions align="end">
  <button mat-flat-button color="warn" (click)="approveAction()">Yes</button>
  <button mat-button (click)="rejectAction()">No</button>
</div>
