<div mat-dialog-content>
  <p>Would you like to populate all {{data.serials}}?</p>
  <mat-form-field floatLabel="auto">
    <mat-label>Select a number</mat-label>
    <input matInput [(ngModel)]="data.serials" type="number" />
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.serials" cdkFocusInitial>
    Ok
  </button>
</div>
