<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms and Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header>
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary"> Terms and Conditions </ion-text>
          </ion-card-title>
        </ion-col>

        <ion-col class="ion-text-right">
          <ion-button color="tertiary" (click)="addTermsAndConditions()">
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>

    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>

    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <mat-form-field floatLabel="auto" class="full-width">
              <mat-label> Search </mat-label>
              <input
                matInput
                placeholder="Search"
                [matAutocomplete]="Customer"
                [formControl]="tnc"
                (focusout)="validateInput(tnc, filteredTncList)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #Customer="matAutocomplete"
                (optionSelected)="setFilter()"
              >
                <mat-option
                  *ngFor="let option of filteredTncList | async"
                  [value]="option.terms_and_conditions"
                >
                  {{ option.terms_and_conditions }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="tnc.hasError('falseValse')">
                You should select a value from dropdown only.
                <strong>'{{tnc.value}}'</strong> is not allowed.
              </mat-error>
            </mat-form-field>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="ion-text-right">
            <ion-button
              color="tertiary"
              (click)="clearFilters()"
              fill="outline"
            >
              Clear
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="custom-container mat-elevation-z8">
        <table
          mat-table
          class="full-width"
          [dataSource]="dataSource"
          matSort
          (matSortChange)="setFilter($event)"
        >
          <ng-container matColumnDef="sr_no">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row; let i=index ">
              {{ paginator.pageIndex * paginator.pageSize + 1 + i }}
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="terms_and_conditions_name">
            <mat-header-cell *matHeaderCellDef>
              Terms and Conditions
            </mat-header-cell>
            <mat-cell
              *matCellDef="let row"
              (click)="updateTermsAndConditions(row.uuid)"
            >
              {{ row.terms_and_conditions }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row ">
              <ion-button
                (click)="confirmDelete(row.uuid)"
                fill="clear"
                class="ion-no-padding"
                color="danger"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>

          <mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
      </div>
      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="setFilter($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[30, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
